:host {
	flex: 1 0 auto;
}

mat-sidenav-container {
	min-height: 100%;
}

mat-sidenav {
	width: 20%;
	min-width: 250px;
}

mat-sidenav-content {
	padding: 1rem 15% 1rem;
}

@media screen and (max-width: 800px) {
	mat-sidenav-content {
		padding: 1rem 5% 1rem;
	}
}

.unauthenticated {
	width: 100%;
	padding: 1rem;
}
